<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.wen.mapper.privilegeMapper">
    <resultMap id="BaseResultMapper" type="Privilege">
        <id property="privilegeId" column="privilege_id"></id>
        <result property="name" column="name"></result>
        <result property="dec" column="dec"></result>
</resultMap>
</mapper>